.content {
  width: 85%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 2% 0% 2% 0%;
}

.button {
  width: 12vw;
  height: 7vh;
  border: none;
  background-color: chocolate;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin: 24px;
  transition-timing-function: linear;
  transition: 0.4s;
  font-family: inherit;
}

.button:hover {
  background-color: blueviolet;
}

.button:active {
  background-color: rgb(255, 0, 0);
}

.game-card {
  width: 14vw;
  height: 16vh;
  margin: 10px;
  border-radius: 1em;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: hidden;
  transition-timing-function: linear;
  transition: 0.3s;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  position: absolute;
  bottom: 0px;
  font-size: 14px;
  text-align: center;
  background-color: antiquewhite;
  width: 100%;
 
}

.image {
  width: 100%;
  height: 100%;
}

.game-card:hover {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

@media only screen and (max-width: 600px) {
  .content {
    width:100%;
    margin: auto;
    display: block;
  }
  
  .game-card {
    width: 40%;
    height: 12vh;
  }

  .button-area {
    text-align: center;
  }

  .button {
    width: 30vw;
  }
}
