.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}


.wrapper {
    display: flex;
    width: 75%;
    margin: auto;
    margin-top:24px;
    font-size: 24px;
}

.desc {
    flex: 1;
    color: blueviolet;
}

.inst {
    flex: 1;
    color: chocolate;
}

.fullscreen {
    width: 100%;
    text-align: center;
    font-size:22px;
    color: white;
    background-color: rgb(216, 116, 116);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.fullscreen:hover {
    background-color: rgb(184, 68, 68);
}

.title {
    display:flex;
    align-items: center;
    justify-self: center;
    font-size: 24px;
    font-weight: 700;
    margin: 2%;
}


@media only screen and (max-width: 600px) {
    .iframe {
        width: 100vw;
        height: 20vh;
        margin-bottom: 600px;
    }

    .wrapper {
        display:flex;
        flex-direction: column;
        padding: 5%;
        width: 100%;
        font-size: 18px;
        
    }

    .desc {
        margin-bottom: 24px;
    }

    .title {
        font-size: 18px;
        margin: 5%;
    }

    .modal {
        width: 100%;
    }
}